@model SalonDB.Web.Models.POSViewModel
@{String CurrentDate;}
@{String ChartDate;}
@{CurrentDate = DateTime.Now.ToLongDateString();}
@{ChartDate = DateTime.Now.ToString("MMMM, yyyy");}
@{bool UserLoggedIn = Model.StaffEnt != null;}
@{int Counter = 0;}

@{
    ViewBag.Title = "Home Page";
}

<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary col-md-12 fixed-panel900">
                <div class="panel panel-primary col-md-9 fixed-panel900">
                    <div class="panel-heading" style="font-weight:bold">Appointments for @CurrentDate</div>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Customer</th>
                                    <th>Date</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Staff</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                @{Counter = 0;}
                                @foreach (var oEnt in Model.AppointmentCol)
                                { // TODO: Filter table by staff (Done)
                                  //TODO: Add new chart(Done)
                                    Counter++;
                                    <tr>
                                        <td>@Counter</td>
                                        <td>@oEnt.CustomerName</td>
                                        <td>@oEnt.AppointmentStart.ToString("yyyy-MM-dd")</td>
                                        <td>@oEnt.AppointmentStart.ToString("hh:mm tt")</td>
                                        <td>@oEnt.AppointmentEnd.ToString("hh:mm tt")</td>
                                        <td>@oEnt.StaffName</td>
                                        <td>@Html.ActionLink("Check out", "index", "pos", new { appointmentID = oEnt.AppointmentID.ToString(), controllerName = "Home" }, null)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-primary col-md-3 fixed-panel900">
                    <div class="panel-heading" style="font-weight:bold">Appointments for @CurrentDate</div>
                    <div class="panel-body">
                        @(Html.EJ().Chart("chartcontainer1")

                .Palette(pl => { pl.Add("grey"); pl.Add("skyblue"); pl.Add("orange"); })

                //Customize primary x-axis
                .PrimaryXAxis(ax => ax.ValueType(AxisValueType.Category))

                //Common settings for all the series
                .CommonSeriesOptions(common =>

                //All the series uses same data source
                common.DataSource(Model.ChartSalesByStaffCol)

                //X-values are same for all the series
                .XName("Name")

                .Type(SeriesType.Column)

                .Tooltip(tooltip => tooltip.Visible(true))
                )

                //Bind data with series
                .Series(sr =>
                {

                    foreach (var item in ViewBag.Category as Dictionary<string, string>)
                        sr.YName(item.Key).Name(item.Value).Add();
                })

                    //Customize chart title
                    .Title(title => title.Text("Sales Revenue by Staff"))

                    .Size(sz => sz.Width("300").Height("300px"))

                    .IsResponsive(true)
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function OndataLabel(sender) {
        sender.data.location.x = sender.data.location.x + 20;
    }
    $("#controlarea").css("visibility", "visible");
</script>

