@model SalonDB.Web.Models.AdminViewModel

<p>
    <h2>Administration</h2>
</p>

<form id="adminForm">

    <div class="row">

        <div class="col-md-2">
            @*<div class="panel-heading">*@
                @*<h3 class="panel-title">Manage Tables</h3>
            </div>
            <div class="panel-body">
                <div class="list-group" style="font-weight:bold">

                    @*<ul class="list-group">
                        <li class="list-group-item active">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>*@

                    <button type="button" id="btnService" class="list-group-item active" onclick="DisplayView('LoadService')">Service</button>
                    <button type="button" id="btnProduct" class="list-group-item" onclick="DisplayView('LoadProduct')">Product</button>
                    <button type="button" id="btnCustomer" class="list-group-item" onclick="DisplayView('LoadCustomer')">Customer</button>
                    <button type="button" id="btnStaff" class="list-group-item" onclick="DisplayView('LoadStaff')">Staff</button>
                    <button type="button" id="btnSupplier" class="list-group-item" onclick="DisplayView('LoadSupplier')">Supplier</button>
                    <button type="button" id="btnStore" class="list-group-item" onclick="DisplayView('LoadStore')">Store</button>
                    <button type="button" id="btnCompany" class="list-group-item" onclick="DisplayView('LoadCompany')">Company</button>
                </div>
            @*</div>*@
        

            @*<div class="panel-footer">
                <h4>Select a table to Manage.</h4>
            </div>*@
        @*</div>*@

        <div class="panel panel-primary col-md-10">
            <div class="panel-heading">
                <h3 id="PanelTitle" class="panel-title" style="font-weight:bold">Service</h3>
            </div>
            <div class="panel-body">
                <div id="LoadProduct" style="display:none">
                    @Html.Partial("_Product", Model)
                </div>

                <div id="LoadService" style="display:inline">
                    @Html.Partial("_Service", Model)
                </div>

                <div id="LoadCustomer" style="display:none">
                    @Html.Partial("_Customer", Model)
                </div>
                <div id="LoadStaff" style="display:none">
                    @Html.Partial("_Staff", Model)
                </div>
                <div id="LoadSupplier" style="display:none">
                    @Html.Partial("_Supplier", Model)
                </div>
                <div id="LoadStore" style="display:none">
                    @Html.Partial("_Store", Model)
                </div>
                <div id="LoadCompany" style="display:none">
                    @Html.Partial("_Company", Model)
                </div>
            </div>
            @*<div class="panel-footer">
                <h4>Details for Table.</h4>
            </div>*@
        </div>

    </div>

</form>

<script type="text/javascript" src="~/Scripts/SalonDB.js"></script>
